* {
    margin: 0;
    font-family: sans-serif;
}

html {
    background-color: white;
}

body {
    margin: 0 auto;
    max-width: 50vw;
    height: 100vh;
    background-color: rgb(230, 230, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

#openModal {
    background-color: rgb(92, 34, 185);
    border: none;
    border-radius: .5em;
    color: white;
    font-size: 1.2em;
    line-height: 0;
    padding: 1.5em;
}

.container {
    visibility: hidden; /*insivible*/
    position: fixed;
    display: flex;
    background-color: rgb(110, 130, 205);
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container > div {
    background-color: white;
    padding: 8%;
    align-items: center;
    border-radius: .5em;
}